{% extends "base_generic.html" %}

{% block content %}

<h2>Add Entry</h2>

<form>
    <div class="form-row">
        <div class="col">
            <input type="date" class="form-control" placeholder="Date">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Customer">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Project">
        </div>
        <div class="col">
            <input type="number" class="form-control" placeholder="Duration">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Description">
        </div>
        <div class="col">
            <input type="submit" class="form-control" placeholder="Submit">
        </div>
        
  </div>
</form>

    <h2>Entries</h2>
        <table class="table">
            <thead class="thead-dark">
                <th scope="col">Date  <i class="fas fa-caret-up">    <i class="fas fa-caret-down"></th>
                <th scope="col">User    <i class="fas fa-caret-up">    <i class="fas fa-caret-down"></th>
                <th scope="col">Customer    <i class="fas fa-caret-up">    <i class="fas fa-caret-down"></th>
                <th scope="col">Project    <i class="fas fa-caret-up">    <i class="fas fa-caret-down"></th>
                <th scope="col">Duration    <i class="fas fa-caret-up">    <i class="fas fa-caret-down"></th>
                <th scope="col">Description</th>
                <th colspan="2" scope="col">Actions</th>
            </thead>
            <tbody>
            {% for entry in object_list %}
                <tr>
                    <td scope="row">{{ entry.date }}</td>
                    <td>{{ entry.user }}</i></i></td>
                    <td>{{ entry.customer }}</td>
                    <td>{{ entry.project }}</td>
                    <td>{{ entry.duration }}</td>
                    <td>{{ entry.description }}</td>  
                    <td><i class="fas fa-edit"></i></td>
                    <td><i class="fas fa-trash-alt"></i></td>
                </tr>
            {% endfor %}
                <tr class="text-light bg-dark">
                    <td scope="row"><p class="font-weight-bold">TOTAL HOURS</p></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><p class="font-weight-bold">{{ duration_sum }}</p></td>
                    <td></td>  
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
{% endblock %}