{% extends "base_generic.html" %}

{% block content %}
  <h1>iTimesheet home</h1>
{% if user.is_authenticated %}
  <h2>Welcome, {{ user.get_username }}!</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Entries:</strong> {{ num_entries }}</li>
    <li><strong>Total hours logged:</strong> {{ sum_hours }}</li>
  </ul>
{% else %}
  <p>Welcome to Icraft iTimesheet</p>
  <p>You are not logged in</p>
  <div>
    <a href="{% url 'login' %}">login</a>
  <div>
{% endif %}
{% endblock %}